html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* big-shoulders-stencil-display-800 - latin */
@font-face {
  font-family: 'Big Shoulders Stencil Display';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/big-shoulders-stencil-display-v19-latin-800.woff2") format("woff2"), url("../fonts/big-shoulders-stencil-display-v19-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* big-shoulders-stencil-display-900 - latin */
@font-face {
  font-family: 'Big Shoulders Stencil Display';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/big-shoulders-stencil-display-v19-latin-900.woff2") format("woff2"), url("../fonts/big-shoulders-stencil-display-v19-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/open-sans-v28-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/open-sans-v28-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/open-sans-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/open-sans-v28-latin_cyrillic-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-300 - latin_cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/open-sans-v28-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/open-sans-v28-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.service__item1, .service__item2, .service__item3, .service__item4, .service__item5, .service__item6 {
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 34px;
  line-height: 63px;
  color: #FFFFFF;
}

.service__item1:hover, .service__item2:hover, .service__item3:hover, .service__item4:hover, .service__item5:hover, .service__item6:hover {
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.service__item1:active, .service__item2:active, .service__item3:active, .service__item4:active, .service__item5:active, .service__item6:active {
  color: red;
  -webkit-transition: none;
  transition: none;
}

body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 20px;
  background: #F2F2F2;
}

h1 {
  font-family: 'Big Shoulders Stencil Display';
  font-weight: 900;
  font-size: 106px;
  line-height: 136px;
  letter-spacing: 0.13em;
  color: #000000;
}

h2 {
  font-weight: 700;
  font-size: 38px;
  line-height: 41px;
  letter-spacing: 0.03em;
  color: #472DAC;
  text-align: center;
}

.header {
  position: fixed;
  padding-top: 30px;
  width: 100%;
}

.header img {
  display: block;
  width: 80%;
}

.wrapper {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 583px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__phone {
  margin-right: 40px;
  font-weight: 300;
}

.header__phone::before {
  content: url(../img/ico/phone-ico.svg);
}

.header__btn {
  border: 2px solid #FFFFFF;
  background: none;
  color: white;
  max-width: 240px;
  padding: 7px 32px;
  margin-right: 40px;
  font-size: 19px;
  line-height: 26px;
}

.main {
  background-image: linear-gradient(106.8deg, rgba(255, 255, 255, 0.23) 9%, rgba(255, 255, 255, 0.23) 14.52%, rgba(255, 255, 255, 0.23) 14.53%, rgba(255, 255, 255, 0.23) 14.54%, rgba(255, 255, 255, 0.23) 35.58%, rgba(33, 29, 29, 0.23) 62.56%, rgba(34, 6, 6, 0.23) 76.34%), url(../img/start-page__bg.jpg);
  background-size: cover;
  height: 100vh;
  margin-bottom: 200px;
}

.main .wrapper {
  position: relative;
}

.main__title {
  padding-top: 258px;
  padding-bottom: 530px;
}

.main__title p {
  font-weight: 700;
  font-size: 60px;
  line-height: 87px;
  letter-spacing: 0.21em;
  color: #000000;
}

.main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 300;
  position: absolute;
  right: 0;
  bottom: 0;
}

.main__time::before {
  content: url(../img/ico/time-ico.svg);
  margin-right: 15px;
}

.main__location {
  margin-left: 35px;
}

.main__location::before {
  content: url(../img/ico/map-ico.svg);
  margin-top: 20px;
  margin-right: 15px;
}

.about {
  margin-bottom: 170px;
}

.about__container {
  padding: 60px 20px;
  background-color: #c4c4c4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 60px;
}

.about__container img {
  display: block;
  width: 100%;
}

.about__title {
  color: blue;
  margin-bottom: 10px;
}

.about__title span {
  font-family: 'Big Shoulders Stencil Display';
}

.about__subtitle {
  color: black;
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.about__text {
  max-width: 700px;
  color: #4a4a4a;
  line-height: 30px;
}

.service {
  background: url(../img/avtoservis-back.jpg) no-repeat;
  background-size: cover;
  margin-bottom: 250px;
}

.service__grid {
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr);
      grid-template-columns: minmax(250px, 1fr) minmax(250px, 1fr) minmax(250px, 1fr);
  -ms-grid-rows: minmax(270px, 365px) minmax(270px, 365px);
      grid-template-rows: minmax(270px, 365px) minmax(270px, 365px);
  gap: 30px;
}

.service__grid button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service__item1 {
  background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item1.jpg);
  background-size: cover;
}

.service__item2 {
  background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item2.jpg);
  background-size: cover;
}

.service__item3 {
  background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item3.jpg);
  background-size: cover;
}

.service__item4 {
  background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item4.jpg);
  background-size: cover;
}

.service__item5 {
  background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item5.jpg);
  background-size: cover;
}

.service__item6 {
  background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item6.jpg);
  background-size: cover;
}

.why {
  margin-bottom: 250px;
}

.why .wrapper {
  background: rgba(179, 183, 213, 0.35);
  border-radius: 30px;
  padding-top: 30px;
}

.why__title {
  margin-bottom: 50px;
}

.why__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__text {
  color: #000000;
  max-width: 310px;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.075em;
}

.why__text span {
  font-weight: 700;
}

.works {
  margin-bottom: 300px;
}

.works__title {
  margin-bottom: 60px;
}

.works__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__container button {
  background: none;
  border: none;
}

.map {
  background: linear-gradient(284.12deg, rgba(5, 40, 131, 0) -1%, rgba(3, 3, 6, 0.49692) 40.78%, rgba(0, 0, 0, 0.38) 99.57%), url(../img/map-back.jpg) no-repeat;
  background-size: cover;
  padding: 120px 0;
}

.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map__container iframe {
  border-radius: 30px;
}

.map__text {
  padding-top: 100px;
}

.map__text p:first-child {
  font-size: 40px;
  line-height: 41px;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
}

.map__text .main__location {
  margin: 0 0 30px 0;
}
