@import "./nullstyle";
@import "./fonts";

@mixin serv_btn-media{
	border: none;
	border-radius: 30px;
	font-weight: 700;
	font-size: 34px;
	line-height: 63px;
	color: #FFFFFF;
	&:hover{
		overflow: hidden;
		transition: 0.4s;
		transform: scale(1.1);
	}
	&:active{
		color: red;
		transition: none;
	}
}

body{
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	color: white;
	font-size: 20px;
	background: #F2F2F2;
}
.wrapper {
	max-width: 80%;
	margin: 0 auto;
	padding: 0 20px;
	overflow: hidden;
}
h1{
	font-family: 'Big Shoulders Stencil Display';
	font-weight: 900;
	font-size: 106px;
	line-height: 136px;
	letter-spacing: 0.13em;
	color: #000000;
}
h2{
	font-weight: 700;
	font-size: 32px;
	line-height: 41px;
	letter-spacing: 0.03em;
	color: #472DAC;
	text-align: center;
}
// Hedaer styles start
.header {
	position: fixed;
	padding-top: 30px;
	width: 100%;
	z-index: 99999;
	transition: 0.5s;
	img{
		display: block;
		width: 60%;
	}
}
.header_active{
	background: #c4c4c491;
	padding: 0;
	.header__phone{
		a{
			color: black;
			font-weight: 400;
		}
	}
	.header__btn{
		border: 2px solid black;
		color: #000000;
	}
	.burger__line{
		background-color: #000000;
	}
}
.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__action {
	display: flex;
	max-width: 583px;
	justify-content: space-between;
	align-items: center;
}
.header__phone {
	a{
		margin-right: 40px;
		font-weight: 300;
		text-decoration: none;
		color: white;
	}
	&::before{
		content: url(../img/ico/phone-ico.svg);
	}
}
.header__btn {
	border: 2px solid #FFFFFF;
	background: none;
	color: white;
	max-width: 240px;
	padding: 7px 32px;
	margin-right: 40px;
	font-size: 19px;
	line-height: 26px;
	&:hover{
		color: red;
		border: 2px solid red;
	}

}
.header__burger{
	width: 40px;
	height: 28px;
	position: relative;
}
.burger__line{
	display: block;
	width: 100%;
	height: 2px;
	background-color: white;
	position: absolute;
	left: 0;
}
.burger__line_first{
	top: 0;
}
.burger__line_second{
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
.burger__line_third{
	bottom: 0;
}
// Header styles end
// Main styles start
.main{
	background-image: linear-gradient(106.8deg, rgba(255, 255, 255, 0.23) 9%, rgba(255, 255, 255, 0.23) 14.52%, rgba(255, 255, 255, 0.23) 14.53%, rgba(255, 255, 255, 0.23) 14.54%, rgba(255, 255, 255, 0.23) 35.58%, rgba(33, 29, 29, 0.23) 62.56%, rgba(34, 6, 6, 0.23) 76.34%), url(../img/start-page__bg.jpg);
	background-size: cover;
	height: 100vh;
	margin-bottom: 10%;
	position: relative;
}
.main__title{
	padding-top: 250px;
	p{
		font-weight: 700;
		font-size: 60px;
		line-height: 87px;
		letter-spacing: 0.21em;
		color: #000000;
	}
	.header__btn{
		display: none;
	}
}
.main__info{
	display: flex;
	align-items: baseline;
	font-weight: 300;
	position: absolute;
	right: 10%;
	bottom: 50px;
}
.main__time::before{
	content: url(../img/ico/time-ico.svg);
	margin-right: 15px;
}
.main__location{
	margin-left: 35px;
	&::before{
		content: url(../img/ico/map-ico.svg);
		margin-top: 20px;
		margin-right: 15px;
	}
}
.main__phone{
	display: none;
}
// Main styles end
// About styles start
.about{
	margin-bottom: 10%;
	.wrapper{
		max-width: 70%;
	}
}
.about__body{
	margin-right: 10px;
}
.about__container {
	padding: 60px 20px;
	background-color: rgba(179, 183, 213, 0.35);
	display: flex;
	justify-content: space-around;
	border-radius: 60px;
	img{
		display: block;
		width: 100%;
	}
}
.about__title {
	color: blue;
	margin-bottom: 10px;
	span{
		font-family: 'Big Shoulders Stencil Display';
	}
}
.about__subtitle {
	color: black;
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 20px;
}
.about__text {
	max-width: 700px;
	color: #4a4a4a;
	line-height: 30px;
}
.about__img{
	display: inline-block;
}
// About styles end
// Service styles start
.service {
	background: url(../img/avtoservis-back.jpg) no-repeat;
	background-size: cover;
	margin-bottom: 15%;
}
.service__grid {
	padding: 100px 0;
	display: grid;
	grid-template-columns: minmax(250px,1fr) minmax(250px,1fr) minmax(250px,1fr);
	grid-template-rows: minmax(270px,365px) minmax(270px,365px);
	gap: 30px;
	button{
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
}
.service__item{
	@include serv_btn-media();
}
.service__item1{
	background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item1.jpg);
	background-size: cover;
}
.service__item2 {
	background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item2.jpg);
	background-size: cover;
}
.service__item3 {
	background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item3.jpg);
	background-size: cover;
}
.service__item4 {
	background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item4.jpg);
	background-size: cover;
}
.service__item5 {
	background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item5.jpg);
	background-size: cover;
}
.service__item6 {
	background: linear-gradient(285.21deg, rgba(5, 40, 131, 0.58) 6.56%, rgba(3, 3, 6, 0.49692) 45.18%, rgba(0, 0, 0, 0.38) 99.54%), url(../img/item6.jpg);
	background-size: cover;
}
// Service styles end
// Why styles start
.why {
	margin-bottom: 15%;
	.wrapper{
		background: rgba(179, 183, 213, 0.35);
		border-radius: 30px;
		padding-top: 30px;
	}
}
.why__title {
	margin-bottom: 20px;
}
.why__container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}
.why__item {
	display: flex;
	align-items: center;
}
.why__text {
	color: #000000;
	font-size: 26px;
	line-height: 36px;
	letter-spacing: -0.075em;
	span{
		font-weight: 700;
	}
}
// Why styles end
//----------------------------------------------------------------slaider__start--------------------------------------------------------------------
.gallery-title {
  text-align: center;
  font-size: 30px;
  font-family: open sans;
  color: rgb(23, 37, 157);
}
.gallery-slider {
  max-width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.btn-back {
  border: none;
  background-color:rgba(255, 255, 255, 0);
  transform: rotate(180deg);
  transition: 0.5s ease;
  filter: drop-shadow(0px -10px 20px rgba(0, 0, 0, 0.54));
}
.btn-back:hover {
  transform: rotate(180deg) translateX(5px);
  transition: 0.5s ease;
  opacity: 0.8;
}
.btn-next{
  border: none;
  background-color:rgba(255, 255, 255, 0);
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.54));
}
.btn-next:hover {
  transform: translateX(5px);
  transition: 0.5s ease;
  opacity: 0.8;
}
@keyframes one {
  30% {
    transform: rotateY(20deg) translateX(10px);
    transition: 0.3s;
  }
  100% {
    transform: translateX(-55%) scale(1.4);
    z-index: 3;
    filter: drop-shadow(-5px 20px 30px rgba(0, 0, 0, 0.861));
  }
}
.gallery-wrapper{
  display: flex;
  align-items: center;
  overflow: hidden;
  min-height: 90vh;
}
.gallery-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  transform: translateX(0);
  transition: 1s;
}
.gallery-item{
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    max-height:60vh;
    border-radius: 15px;
    transition: 0.7s;
    z-index: 2;
    filter: drop-shadow(-10px 14px 20px rgba(0, 0, 0, 0.54));
    &:first-child:hover {
      transform: translateX(50px) scale(1.2);
      filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.631));
    }
    &:first-child {
      filter: drop-shadow(10px 24px 20px rgba(0, 0, 0, 0.54));
    }
    &:last-child {
      max-height: 50vh;
      transition: 1s;
      transform: translateX(-60px);
      z-index: 1;
      &:hover {
        animation: 2s one ease;
        animation-fill-mode: forwards;
      }
    }
  }
}
//----------------------------------------------------------------slaider__end-----------------------------------------------------------------------



// Works styles start
.works {
	margin-bottom: 15%;
}
.works__title {
	margin-bottom: 60px;
}
.works__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	button{
		background: none;
		border: none;
	}
}
// Works styles end
// Map styles start
.map {
	background: linear-gradient(284.12deg, rgba(5, 40, 131, 0) -1%, rgba(3, 3, 6, 0.49692) 40.78%, rgba(0, 0, 0, 0.38) 99.57%), url(../img/map-back.jpg) no-repeat;
	background-size: cover;
	padding: 120px 0;
	iframe{
		width: 50vw;
		height: 60vh;
	}
}
.map__container {
	display: flex;
	justify-content: space-between;
	iframe{
		border-radius: 30px;
	}
}
.map__text {
	padding-top: 100px;
	margin-right: 10px;
	p:first-child{
		font-size: 40px;
		line-height: 41px;
		letter-spacing: 0.03em;
		margin-bottom: 60px;
	}
	.main__location{
		margin: 0 0 30px 0;
	}
}
// Map styles end
// Footer styles start
.footer {
	background: #0F0E18;
	padding: 20px 0; 
}
.wrapper-min {
	max-width: 50%;
}
.footer__container {
	display: flex;
	justify-content: space-between;
	ul{
		margin-right: 5px;
	}	
	li{
		margin-bottom: 10px;
		&:first-child{
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 40px;
		}
	}
	a{
		font-size: 14px;
		line-height: 2px;
		letter-spacing: 0.03em;
		color: #888888;
		text-decoration: none;
	}
	img{
		transform: translateX(50px);
	}
}
// Footers styles end
// Media start
@media screen and (max-width: 1450px){
	body{
		font-size: 16px;
	}
	h1{
		font-size: 92px;
	}
	.header__btn{
		font-size: 16px;
		padding: 4px 25px;
	}
	.main__title{
		p{
			font-size: 48px;
		}
	}
	.about__subtitle{
		font-size: 28px;
	}
	.about__text{
		max-width: 1000px;
	}
	.about__img{
		display: inline-block;
	}
	.service__grid{
		grid-template-rows: repeat(2, minmax(150px,270px));
		gap: 20px;
	}
	.service__item{
		font-size: 28px;
	}
	.why__text{
		font-size: 18px;
		line-height: 26px;
	}
	.why__item img{
		width: 40%;
	}
	.footer__container{
		li{
			&:first-child{
				font-size: 16px;
				margin-bottom: 20px;
			}
		}
		a{
			font-size: 12px;
		}
	}
}
@media screen and (max-width: 1000px){
	body{
		font-size: 14px;
	}
	h1{
		font-size: 74px;
		line-height: 80px;
	}
	h2{
		font-size: 24px;
	}
	.header__btn{
		font-size: 14px;
		padding: 4px 25px;
	}
	.header__burger{
		width: 35px;
		height: 20px;
	}
	.main__title{
		p{
			font-size: 40px;
			letter-spacing: 0.1em;
		}
	}
	.about__container{
		padding: 30px 20px;
		align-items: center;
	}
	.about__subtitle{
		font-size: 22px;
	}
	.about__text{
		line-height: 18px;
	}
	.service__grid{
		grid-template-columns: repeat(2, minmax(120px,380px));
		grid-template-rows: repeat(3, minmax(120px,250px));
	}
	.why__text{
		font-size: 14px;
		line-height: 18px;
	}
	.map{
		padding: 80px 0;
		iframe{
			width: 75vw;
		}
	}
	.map__container{
		flex-direction: column;
		align-items: center;
	}
	.map__text{
		width: 80%;
		display: flex;
		align-items: baseline;
		padding: 0;
		.main__location{
			margin-right: 20px;
		}
		p{
			&:first-child{
				display: none;
			}
		}
	}
}
@media screen and (max-width: 750px){
	body{
		font-size: 12px;
	}
	h1{
		font-size: 64px;
		line-height: 70px;
	}
	h2{
		font-size: 20px;
	}
	.header__action{
		.header__btn{
			display: none;
		}
	}
	.header__phone{
		display: none;
	}
	.main__title{
		p{
			font-size: 36px;
			letter-spacing: 0.1em;
		}
		.header__btn{
			display: block;
			margin: 0 auto;
		}
	}
	.main__info{
		width: 80%;
		justify-content: space-between;
		.main__location{
			margin: 0;
		}
		.main__phone{
			display: block;
		}
		a{
			margin: 0;
		}
	}
	.about__subtitle{
		margin-bottom: 10px;
		font-size: 18px;
	}
	.service__item{
		font-size: 20px;
	}
	.why{
		.wrapper{
			padding-top: 5px;
		}
	}
	.why__title{
		margin: 0;
	}
	.why__container{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	.why__item img{
		width: 30%;
	}
	.footer{
		.wrapper-min{
			min-width: 60%;
		}
	}
	.footer__container{
		li{
			&:first-child{
				font-size: 12px;
				margin-bottom: 20px;
			}
		}
		a{
			font-size: 10px;
		}
		img{
			transform: translateX(30px);
			width: 25%;
		}
	}
}
@media screen and (max-width: 550px) {
	h1{
		font-size: 52px;
		line-height: 60px;
	}
	h2{
		font-size: 16px;
	}
	.main__title p{
		font-size: 28px;
	}
	.main__info{
		flex-direction: column;
		align-items: center;
		.main__location{
			margin-top: 15px;
		}
		.main__time{
			margin-top: 20px;
			&::before{
				margin-right: 40px;
			}
		}
		.main__phone{
			&::before{
				margin-right: 5px;
			}
		}
	}
	.about__body{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.about__text{
		line-height: 16px;
	}
	.about__img{
		display: none;
	}
	.service__grid{
		grid-template-columns: repeat(1, minmax(120px,380px));
		grid-template-rows: repeat(6, minmax(120px,250px));
		justify-content: center;
	}
	.why__text{
		font-size: 12px;
		line-height: 16px;
	}
	.map{
		iframe{
			height: 40vh;
		}
	}
	.map__text{
		flex-direction: column;
		align-items: center;
		margin-bottom: 10px;
		.main__location{
			margin: 0 0 10px 0;
		}
	}
	.footer{
		.wrapper-min{
			min-width: 80%;
		}
	}
}
// Media end
